{% case include.language %}

{% when 'csharp' %}
{% highlight csharp %}
{{ include.text }}
{% endhighlight %}

{% when 'java' %}
{% highlight java %}
{{ include.text }}
{% endhighlight %}

{% when 'javascript' %}
{% highlight javascript %}
{{ include.text }}
{% endhighlight %}

{% when 'markdown' %}
{% highlight markdown %}
{{ include.text }}
{% endhighlight %}

{% when 'php' %}
{% highlight php %}
{{ include.text }}
{% endhighlight %}

{% when 'powershell' %}
{% highlight powershell %}
{{ include.text }}
{% endhighlight %}

{% when 'python' %}
{% highlight python %}
{{ include.text }}
{% endhighlight %}

{% when 'ruby' %}
{% highlight ruby %}
{{ include.text }}
{% endhighlight %}

{% when 'shell' %}
{% highlight shell %}
{{ include.text }}
{% endhighlight %}

{% when 'typescript' %}
{% highlight typescript %}
{{ include.text }}
{% endhighlight %}

{% when 'html' %}
{% highlight html %}
{{ include.text }}
{% endhighlight %}

{% when 'yaml' %}
{% highlight yaml %}
{{ include.text }}
{% endhighlight %}

{% when 'yml' %}
{% highlight yml %}
{{ include.text }}
{% endhighlight %}

{% endcase %}